* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(window-background-image.webp);
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;
  /* align-content: center; */

  position: relative;

  font-family: Tahoma sans-serif;
}

.window {
  background-color: #bfbfbf;
  width: 39.9rem;
  /* margin-inline: auto; */
  /* margin-top: 30rem; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* border: 3px outset; */

  border: 3px solid;
  border-color: #f1fcfe #3f464c #3f464c #f1fcfe;
  border-radius: 3px;
  overflow: hidden; /*control the overflew of children box*/
}

.window__header {
  color: #ffffff;
  background-image: linear-gradient(to right, #001e67, #b2d0f5);
  /* background-image: linear-gradient(to right in hsl, #001e67, #b2d0f5); */
  padding: 0.5rem 2rem;
  /* border-radius: 3px 3px 0 0; "here we are controlling all the 4 corners of the box" */
  border-bottom: 1px solid #001e67;
  position: relative;
}

/* .border {
  height: 1px;
  background-image: linear-gradient(to right, #313e66 #96b2d0);
} */

.window__header::after {
  /*that is a fake element for the bottom-line of the header*/
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  /* background-color: red; */
  background-image: linear-gradient(to right, #313e66 #96b2d0);
  position: absolute;
}

.window__heading {
  font-size: 1.25rem;
}

.window__content {
  padding: 1rem;
  text-align: right;
}

.window__img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 3px 3px #7d7d7d7d;

  /* filter: drop-shadow(3px 3px #7d7d7d7d); */

  image-rendering: pixelated;
}

.window__message {
  display: inline-block;
  font-size: 1.5rem;
  transform: translateY(-1.25rem);
  margin-left: 1rem;
}

.window__btn {
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  background-color: transparent;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
}

.window__btn:active {
  border-style: inset;
}
